.env
.env.local
.env.*.local

node_modules
package-lock.json
*.gz

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

build
dist

# OS X
.DS_Store*
Icon?
._*

/generated/prisma
prisma/generated/
prisma/dev.db