.card-container {
  width: 240px;
  min-height: 420px;
  border: 3px solid var(--text);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  background-color: var(--background);
  color: var(--text);
}

.card-container:hover {
    transform: scale(1.025);
}

.card-info {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  align-items: flex-start;
  gap: 8px;
}

.board-img {
  width: 100%;
  aspect-ratio: 2 / 3;
}

.card-img {
  width: 100%;
  height: 200px;
}

.card-info h1 {
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.card-info h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.board-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-btn-container button {
  padding: 4px 6px;
  font-size: 12px;
  border: none;
  border: 2px solid var(--text);
  border-radius: 5px;
}

#board-delete-btn {
  background-color: var(--buttons);;
}

.card-btn-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}

.card-btn-container button {
  padding: 4px 6px;
  font-size: 12px;
  border: none;
  border: 2px solid var(--text);
  border-radius: 5px;
}

#card-delete-btn {
  background-color: var(--buttons);;
}