.grid-container {
  width: 100vw;
  min-height: 60vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
}

.grid-content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
}

.grid-title hr {
  border: 1px solid var(--text);
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  column-gap: 100px;
  row-gap: 50px;
}